/**
 * custom-ui.css
 *
 * This css file contains some customizations for twitter bootstrap
 * for the sententiaregum application
 */

* {
    font-family: Tahoma, Verdana, "Helvetica", "Helvetica Neue", sans-serif;
}

/** col-md-offset-* does not work on twitter bootstrap properly */
html {
    overflow-x: hidden;
}

*:focus {
    outline: none;
}

body {
    background-color: #f8f8f8;
    padding-top: 70px;
}

li {
    list-style-type: square;
}

.navbar-default {
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: #269abc 2px solid;
    border-left: none;
    border-right: none;
    border-top: none;
}

.form-control:focus {
    border-color: #0a64af;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar li,
.navbar a.navbar-brand {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

.navbar li:hover a {
    background-color: #269abc !important;
    color: #fff;
}

.navbar li a:focus {
    color: #777 !important;
}

.navbar a.navbar-brand:hover {
    color: #0088CC !important;
}

.navbar-toggle .icon-bar {
    background-color: #269abc !important;
    border: none;
}

.navbar-toggle {
    border-color: #269abc !important;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #269abc !important;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar {
    background-color: #fff !important;
}

.navbar-collapse {
    border-color: #269abc !important;
}

.form-control {
    box-shadow: none;
}

.navbar-nav .active a {
    background-color: #6abbdf !important;
}

/** Fix broken in menu styles for Firefox (firefox marks clicked elements as focused which causes some css fails) */

.navbar-inverse .navbar-brand:focus {
    color: #777 !important;
}

.navbar-inverse .navbar-nav li a:focus {
    color: #777 !important;
    background-color: #fff;
}

.navbar-inverse .navbar-nav li a:active {
    color: #fff !important;
}

.navbar-inverse .navbar-nav li:hover a {
    color: #fff !important;
}

.navbar-inverse .navbar-nav li.active a:focus {
    color: #fff !important;
}

/** End */

.form-additional-element {
    margin-top: 10px;
    margin-bottom: 20px;
}

.has-error label.control-label {
    color: #761112;
}

.has-error .form-control {
    border-color: #ebaac0;
}

.has-error .form-control:focus {
    border-color: #761112;
    box-shadow: none;
}

.form-info-plugin {
    margin-top: 25px;
    line-height: 34px;
}

.list-no-bullets {
    margin-left: 0px;
    padding-left: 0px;
}

.list-no-bullets li {
    list-style: none !important;
}

textarea {
    resize: none;
    height: 80px !important;
}

.list-group li,
.list-group {
    border-color: #bce8f1;
}

.post-item:nth-child(even) {
    background-color: #fafafa;
}

.text-hover-success:hover {
    color: #3c763d;
    cursor: pointer;
}

.text-hover-success {
    display: inline-block;
    margin-right: 10px;
}

.avatar {
    height: 34px;
    width: 34px;
}

.post-content-paragraph {
    margin-top: 10px;
}

.modal .modal-dialog .modal-body {
    overflow-y: hidden !important;
    max-height: 300px;
}

.post-item:first-child {
    border-radius: 0px;
}

@media screen and (max-width: 991px) {
    .comment-btn {
        margin-top: 10px;
    }
}

.comment-wrapper {
    padding: 15px 15px 0px;
}

.post-top {
    height: 34px;
    line-height: 34px;
}

.modal-body .ps-scrollbar-y-rail {
    margin-top: 15px;
}
