<form ng-submit="requestToken()" style="margin-top: 20px;" novalidate="novalidate">
    <div class="alert alert-danger" ng-show="errors.length > 0">
        <p ng-repeat="msg in errors">
            <span>{{msg}}</span>
        </p>
    </div>

    <div class="form-group" ng-class="{'has-error': hasError}">
        <label for="username" class="control-label">Username:</label>
        <input type="text" name="username" ng-model="credentials.username" class="form-control" />
    </div>
    <div class="form-group" ng-class="{'has-error': hasError}">
        <label for="password" class="control-label">Password:</label>
        <input type="password" name="password" ng-model="credentials.password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
    <img src="images/ajax-loader.gif" style="margin-left: 15px;" ng-show="progress" />
</form>
