<form ng-submit="createAccount()" novalidate="novalidate">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <input type="text" ng-model="data.name" class="form-control" name="username" />
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="password" ng-model="data.password" class="form-control" name="password" />
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group" ng-class="{'has-error': errorList.passwordConfirmation}">
                <label for="password-confirm" class="control-label">Confirm password</label>
                <input type="password" ng-model="data.passwordConfirm" class="form-control" name="password-confirm" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-info-plugin" ng-show="errorList.passwordConfirmation">
                <p ng-repeat="message in errorList.passwordConfirmation">
                    <span class="text-danger"><span class="glyphicon glyphicon-remove"></span> {{message}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="email" class="control-label">Email address</label>
                <input type="text" ng-model="data.email" class="form-control" name="email" />
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group" ng-class="{'has-error': errorList.emailConfirmation}">
                <label for="email-confirm" class="control-label">Confirm email address</label>
                <input type="text" ng-model="data.emailConfirm" class="form-control" name="email-confirm" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-info-plugin" ng-show="errorList.emailConfirmation">
                <p ng-repeat="message in errorList.emailConfirmation">
                    <span class="text-danger"><span class="glyphicon glyphicon-remove"></span> {{message}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="real-name" class="control-label">Actual name</label>
                <input type="text" ng-model="data.realName" class="form-control" name="real-name" />
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <button type="submit" class="btn btn-success">Create account</button>
    <img src="images/ajax-loader.gif" style="margin-left: 15px;" ng-show="progress" />

    <div class="container" style="margin-top: 15px;">
        <p>
            <small style="color: #aaa">You accept the <a href="/#!/terms-and-conditions">Terms & Conditions</a> if you create an account</small>
        </p>
        <p>
            <small style="color: #aaa">&copy; Sententiaregum</small>
        </p>
    </div>
</form>
