# Symfony 2
/api/app/cache/*
/api/app/logs/*
!api/app/cache/.gitkeep
!api/app/logs/.gitkeep
/api/app/SymfonyRequirements.php
/api/app/check.php
/api/app/config/parameters.yml
/api/app/bootstrap.php.cache
/api/build/
/api/web/bundles/

# Composer
/api/bin/
/api/vendor/

# Wasted .gitignore
/vagrant/.vagrant/
/vagrant/modules/*
/vagrant/graphs/*
!vagrant/modules/.gitkeep
!vagrant/graphs/.gitkeep
/vagrant/vendor/

# IDEs
/.idea/
/nbproject/
/.metadata/

# Bower
/app/scripts/vendor/

# node.js
/node_modules/
/npm-debug.log

# Production environment
/dist/

# Upload directory
/api/web/uploads/
!api/web/uploads/.gitkeep

# SCSS
/app/styles/style.css
