/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea/*
/src/Sententiaregum/Bundle/WebBundle/Resources/public/vendor/
/app/check.php
/app/SymfonyRequirements.php
