<div class="container" ng-init="activeMenu.purgeActiveAttributes()">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>404 - Not found!</h3>
                    <span>We're sorry, but it seems as this page cannot be found!</span>
                    <p>
                        <a href="/#!/">Go back to start</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
