<div infinite-scroll="addItems()">
    <li class="list-group-item post-item" ng-repeat="post in posts | orderBy:sortPosts">
        <div class="post-top" ng-show="post.head">
            <i style="color: #888">{{post.head}}</i>
        </div>
        <div class="post-top">
            <img class="avatar" ng-src="{{post.avatarUrl}}" />
            <span>
                <a ng-href="/#!/user/{{post.username}}">{{post.realname}}</a> -
                <i style="color: #888">@{{post.username}}</i> -
                <i style="color: #888;">{{buildDate(post.creationDate)}}</i>
            </span>
        </div>
        <p class="post-content-paragraph">{{post.content}}</p>
        <p class="post-content-paragraph" ng-show="post.appendedImage"><img ng-src="{{post.appendedImage}}" /></p>
        <p class="post-content-paragraph">
            <div class="row comment-wrapper" ng-show="post.tags">
                <p><b>Tags:</b></p>
                <a ng-repeat="tag in post.tags" class="btn btn-info btn-sm" style="margin-right: 10px" ng-href="/#!/tag/{{tag}}">{{tag}}</a>
            </div>
            <div class="row comment-wrapper" style="color: #888">
                <div class="col-md-6" ng-click="">
                    <span class="text-hover-success">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Share
                    </span>
                    <span class="text-hover-success" ng-click="showCommentForm = showCommentForm !== true">
                        <span class="glyphicon glyphicon-pencil"></span> Comment
                    </span>
                </div>
                <div class="col-md-6" style="text-align: right">
                    <span class="text-hover-success" data-toggle="modal" data-target="#shares-{{post.id}}">
                        <span class="glyphicon glyphicon-thumbs-up"></span> {{post.shares.length}}
                    </span>

                    <span class="text-hover-success" ng-click="showComments = showComments !== true">
                        <span class="glyphicon glyphicon-pencil"></span> {{post.comments.length}}
                    </span>
                </div>

                <script type="text/javascript">
                    $('.modal-body').perfectScrollbar({ suppressScrollX: true, scrollYMarginOffset: 300 });
                </script>

                <div ng-include="'/app/component/application/microblogging/widget/shares.html'"></div>
            </div>
            <div class="row comment-wrapper" ng-init="showCommentForm=false" ng-show="showCommentForm">
                <form>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="Enter comment..." />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary btn-block comment-btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row comment-wrapper" ng-show="showComments">
                <div ng-show="post.comments.length === 0">
                    <i style="color: #888">Nobody has commented this post yet</i>
                </div>
                <div ng-hide="post.comments.length === 0">
                    foo
                </div>
            </div>
        </p>
    </li>
</div>
