* {
  font-family: Tahoma, Verdana, "Helvetica", "Helvetica Neue", sans-serif;
}

/** col-md-offset-* does not work on twitter bootstrap properly */
html {
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

body {
  background-color: #f8f8f8;
  padding-top: 70px;
}

li {
  list-style-type: square;
}
