$menuFront: #269abc;
$activeMenu: #6abbdf;

.navbar-default {
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: $menuFront 2px solid;
  border-left: none;
  border-right: none;
  border-top: none;
}

.navbar {
  li, a.navbar-brand {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
  }

  li.active a:focus {
    color: #fff !important;
  }

  li:hover a {
    background-color: $menuFront !important;
    color: #fff;
  }

  li {
    a:focus {
      color: #777 !important;
    }
  }

  a.navbar-brand:hover {
    color: #0088CC !important;
  }
}

.navbar-toggle {
  border-color: #269abc !important;

  .icon-bar {
    background-color: $menuFront !important;
    border: none;
  }

  &:hover, &:focus {
    background-color: #269abc !important;

    .icon-bar {
      background-color: #fff !important;
    }
  }
}

.navbar-collapse {
  border-color: #269abc !important;
}

.navbar-nav .active a {
  background-color: #6abbdf !important;
}

.navbar-inverse {
  .navbar-brand:focus {
    color: #777 !important;
  }

  .navbar-nav {
    li {
      a:active {
        color: #fff !important;
      }

      &:hover, &:focus {
        a {
          color: #fff !important;
        }
      }
    }

    li.active {
      a:focus {
        color: #fff !important;
        background-color: #fff;
      }
    }
  }
}
